<div class="center">
<div class="row">
    <div class="col"><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.brandsvietnam.com/upload/news/480px/2015/8263_Lego.JPG" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Edit Products</h5>
    <p class="card-text">Edit the products</p>
    <a href="products" class="btn btn-primary">Go </a>
  </div>
</div></div>
      <div class="col"><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://i.ytimg.com/vi/F5JV3nVOLMA/hqdefault.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Edit Users</h5>
    <p class="card-text">Edit the users</p>
    <a href="users" class="btn btn-primary">Go </a>
  </div>
</div></div>
</div>
</div>

